body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

ul li {
  list-style: none;
  display: inline-block;
}

label {
  display: block;
}

input {
  padding:0px;
}

input:focus {

}

button:hover {

}

button:active {

}